*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.479);
}

header button{
    background-color: rgb(68, 91, 30);
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: none;
    width: 120px;
}

#logo{
    width: 400px;
    height: 100px;
    margin-top: -3%;
}

#logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#fundo{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#video{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

#receita{
    position: relative;
    background-color: rgb(255, 170, 0);
    height: 100ph;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

#foto-receita{
    width: 40%;
}

#video-receita{
    width: 50%;
    height: 30vw;
}

iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#foto-receita img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}


#receita2{
    background-color: rgb(254, 189, 58);
    padding: 50px ;
}

#ingredientes{
    background-color: white;
    color: black;
    width: 95%;
}

#ingredientes p{
    color: black;
    
}
#preparo{
    background-color: white;
    color: black;
}

#preparo p{
    color: black;
}

footer{
    width: 100%;
    height: auto;
    background-color: black;
}

#rodape{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#rodape h3,p{
    color: white;
}

#rodape h3{
    font-size: 20px;
}

#rodape p{
    font-size: 16px;
}

#texto-rodape p{
    margin-top: 20px;
}


#links h3{
    margin-left: 18%;
    margin-top: 10%;
}

#links li a{
    line-height: 30px;
}

#suporte h3{
    margin-left: 18%;
    margin-top: 10%;
}

#suporte li a{
    line-height: 30px;
}

#contato h3{
    margin-top: 5%;
}

footer a{
    text-decoration: none;
    color: white;
}

footer p{ 
    animation:none;
}
