@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inter:opsz,wght@14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: "Cabin", sans-serif;
    font-weight: 500;
}


h1, h2 {
    font-family: "Bree serif", sans-serif;
}


htmL{
    scroll-behavior: smooth;/*deixa a descida suave sem teleporte*/
    background-color: black;
}

@keyframes lateral{ /*nome da animação*/
    from{/*de*/
        opacity: 0;
        transform: translateX(-100px);/*vai mover horizontalmente -100 px*/
    } 
    to{/*para de para algo*/
        opacity: 1;/*opacidade de algo*/
        transform: translateX(0px); /*n muda nd*/
    }
}

@keyframes subida{ 
    from{
        opacity: 0;
        scale: 0.5;/*debaixo para cima*/
    } 
    to{
        opacity: 1;
        scale: 1;
    }
}

#slider{
    animation: lateral .5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

#txt_curiosidades h1, p, button{
    animation: subida .5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

#img-restaurante{
    animation: subida .5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


#img-restaurante2{
    animation: subida .5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


#fundo{
    background-image: url(../images/imagem-fundo/Imagem\ de\ fundo\ ps-1200\ .jpg);
    width: 100%;
    height: 100vh;/*v= view h=heith*/
    background-size: cover;/*pega todo o tamanho da tela/main*/
    background-attachment: fixed;
}

#overlay{
    background-color: rgba(0, 0, 0, 0.471);
    width: 100%;
    height: 100vh;/*v= view h=heith*/

}
header{
    width: 100%;
    height: 12%;
    display: flex;/*deixa as divs automaticamente na horizontal*/
    align-items: center;/*alinha na vertical*/
    justify-content: space-between;
    padding: 20px;/*espaço interno*/
    color: white;
    background-color: rgba(0, 0, 0, 0.479);
}

header a{
    text-decoration: none;/*tira o sublinhado*/
    color: white;
    font-size: 16px;
    margin-right: 40px;
}

a::after{
    content: " ";
    background-color: #686868;
    width: 0%;
    left: 0;
    bottom: 0;
    position: absolute;
    height: 3px;
    transition: 0.5s ease-in-out;
}

nav a:hover::after{
    width: 100%;
}

nav a:hover{
    font-weight: 500;
    text-shadow: 0px 1px 1px #ffff;
}

header #logo{
    width: 300px;
    height: 200%;
}

#logo img {
     margin-top: 10px;
}

header nav{
    display: flex;
}
 #midori{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
 }

 #midori h1{
    font-size: 40px;
    text-shadow: 2px 2px black;
    letter-spacing: 5px;
 }

 #midori button{
    width: 15%;
    height: 35px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    background-color: #57590B;
    color: white;
    margin-top: 2%;
    font-size: 15px;
 }

 #midori button:hover {
    width: 16%;
    height: 36px;
    background-color: #D9C398;
    transition: 0.5s;
    color: black;
    box-shadow: 0px 10px 50px 2px rgb(126, 163, 141);
 }


 #txt-slider {
    position: absolute;
    width: 400px;
    height: 10%;
    z-index: 6;
    left: 40%;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 16%;
}

#informativo-carrossel {
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 85%;
    color: white;
    background-color: #ff9900be;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}


#curiosidades{
    display: flex;
}

#img_curiosidades{
    width: 85%;
    height: 104vh;
}

#img_curiosidades img{
    width: 100%;
    height: 100%;
}
#txt_curiosidades{
    text-align: center;
    color: #000;
    background-color: burlywood;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    font-size: 22px;
}

#txt_curiosidades p{
    margin-top: 8%;
}

#txt_curiosidades h2{
    font-size: 35px;
    text-shadow: 2px 2px #fff;
    color: #000;
    margin-top: 8%;
}


#restaurante{
    background-image: url(../images/imagem-fundo/papel_de_parede_vinilico_textura_pedras_areia_53cmx10m_91065961_0001_600x600.jpg);
    background-size: cover;

}

#overlay-02 {
    width: 100%;
    height: 220vh;
    background-color: rgba(0, 0, 0, 0.755);
    padding: 20px 90px 20px 20px;
}

#img-restaurante {
    display: flex;
    justify-content: space-between;
}

#txt-restaurante {
    color: white;
    font-size: 22px;
    width: 55%;
    height: 100vh;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.59);
    border-radius: 20px;
    margin-left: 15px;

}

#txt-restaurante p{
    margin-top: 40px;
    font-size: 20px;
    text-align: left;
}

#img1 {
    background-image: url(../images/restaurantes/P.J\ Clarke´s\ ps.jpg);
    background-size: cover;
    width: 40%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: flex-end;/*alinha na horizontal*/
    align-items: flex-end;
    padding: 30px;
    border-radius: 30px;
    margin-left: 20px;

}

#img2 {
    background-image: url(../images/restaurantes/Taco\ bell\ restaurante\ ps-1100.jpg);
    background-size: cover;
    width: 50%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: flex-end;/*alinha na horizontal*/
    align-items: flex-end;
    padding: 30px;
    border-radius: 30px;
}

#img3 {
    background-image: url(../images/restaurantes/Restaurante\ ps.jpg);
    background-size: cover;
    width: 45%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: flex-end;/*alinha na horizontal*/
    align-items: flex-end;
    padding: 30px;
    border-radius: 30px;
}

#img-restaurante2 {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

#chefs{
    width: 100%;
    height: 100vh;
    display: flex;
}
#chef1{
    width: 50%;
    height: 100hv;
}

#chef2{
    width: 46%;
    height: 100hv;
}
#chef1 img{
    width: 100%;
    height: 100%;
}

#chef2 img{
    width: 100%;
    height: 50%;
}

#img1 div{
    width: 50%;
    margin-left:10% ;
}

#img2 div{
    width: 50%;
    margin-left: 10%;
}

#img3 div{
    width: 50%;
    margin-left: 10%;
}

#img1 button{
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: yellow;
    color: black;
}

#img2 button{
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: yellow;
    color: black;
}

#img3 button{
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: yellow;
    color: black;
}
#chefs button{
    width: 4%;
    border: 2px solid black;
    background-color: yellow;
}

#restaurante button:hover{
    background-color: black;
    color: yellow;
    transition-duration: .5s;
    box-shadow: 0px 0px 5px 1px white;
}

.slide-caixa a img{
    object-fit: cover;
    height: 100%;
    width: 100vw;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card-list .card-item {
    color: white;
    background: rgba(255, 255, 255, 0.2);
    width: 400px;
    padding: 35px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(30px);
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.card-list .card-item .user-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid white;
    padding: 4px;
}

.card-list .card-item .user-profession {
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0 40px;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.chefs {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 60px;
}

.card-item p {
    text-align: center;
}

#logo{
    width:30% ;
    height: 100%;
}

#logo img{
    width:90% ;
    height: 90%;
    object-fit: cover;
}

#paragrafo_restaurante{
    width: 100%;
    height: 100%;
    font-size: 16px;
    margin-top: 10px;
}
footer{
    width: 100%;
    height: auto;
    background-color: black;
}

#rodape{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#rodape h3,p{
    color: white;
}

#rodape h3{
    font-size: 20px;
}

#rodape p{
    font-size: 16px;
}

#texto-rodape p{
    margin-top: 20px;
}


#links h3{
    margin-left: 18%;
    margin-top: 10%;
}

#links li a{
    line-height: 30px;
}

#suporte h3{
    margin-left: 18%;
    margin-top: 10%;
}

#suporte li a{
    line-height: 30px;
}

#contato h3{
    margin-top: 5%;
}

footer a {
    text-decoration: none;
    color: white;
}
footer p {
    animation: none;
}
